@import '../../styles/variables.scss';
@import '../../styles/media-queries.scss';

.section{
    padding: 20px;
    height: 365px;
    color: $font-color-light;
    &__title{
        font-size: 36px;
    }
    &__text{
        font-size: 24px;
    }
}
