@import '../../styles/variables.scss';
@import '../../styles/media-queries.scss';

.section{
    padding: 20px;
    height: 365px;
    color: $font-color-light;
}


.img1{
    background-image: url("../../assets/text-section1.png");
}