.movie-card{
    padding: 20px;
    max-width: 210px;
    text-align: center;
    position: relative;
    &__img{
        border-radius: 15px;
        margin-bottom: 12px;
    }
}

.rating-overlay {
    position: absolute;
    padding: 5px;
    height: 40px;
    width: 40px;
    top: 300px;
    left: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: rgba(0, 0, 0); /* Cambia el color de fondo según tus preferencias */
    color: white
  }
  .rating-percentage  {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35px;
    width: 35px;
    border-radius: 50%;
    font-size: 12px; /* Ajusta el tamaño de fuente según tus necesidades */
  }

  .border-green{
    border: 3px solid limegreen;
  }
  .border-red{
    border: 3px solid red;
  }
  .border-yellow{
    border: 3px solid yellow;
  }

  .rating-symbol{
    font-size: 7px;
  }